body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: "#3f729b";
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.login_container {
  width: 25%;
  margin-left: 40%;
  margin-top: 7%;
}

.profile_btn {
  height: 35px;
  border-bottom-color: gray;
  font-weight: "600";
  border-color: "gray";
  background-color: "white";
  border-radius: "5px";
  margin-left: "40px";
}
input[type="file"] {
  background-color: #56ccbe;
  height: 46px;
  padding: 8px;
}

.fa-plus-square,
.fa-paper-plane,
.fa-home,
.fa-comment,
.fa-bookmark,
.fa-heart {
  font-size: 1.5em;
}
.fa-search {
  color: gray;
  font-size: 1.2em;
}
.profilefunction li {
  display: inline;
  padding: 40px;
  color: black;
}
.left_arrow {
  height: 33px;
  width: 33px;
  border-radius: 50%;
  background-color: #faf2f2;
  position: absolute;
  margin-top: 27px;
  margin-left: 10px;
}
.right_arrow {
  height: 33px;
  width: 33px;
  border-radius: 50%;
  background-color: #faf2f2;
  position: absolute;
  margin-top: 27px;
  margin-left: 585px;
}
